body {
background-image: url(https://wallpaperbat.com/img/469140-spring-river-between-mountains-desktop-wallpaper-1920x1200.jpg) ;
background-size: cover;
max-width: 100%;
display:flex;
flex-direction: column;
align-items: center;
}

h1 {
  color: white;
  font-family: 'Epilogue', sans-serif;
  font-size: 72px;
  text-align: center;

}

.h2{
  color: white;
  font-family: 'Indie Flower', cursive;
  justify-content: center;
}

#search{
  color:black;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
}

#search:hover{
  color: #000000;
  background-color: white;
}

#blank{
  justify-content: center;
  align-items: center;
  color: green;
  font-family:'Roboto' ;
}

h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;

}

p {

  font-size: 22px;
  color: white;
  justify-content: left;
  font-family: 'Roboto',sans-serif;
}

section{
  flex-direction: row;
  display: flex;

}
.returnMyData{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  flex-direction: row;
  display:flex;
  margin : auto;
  justify-content: center;
}

a:-webkit-any-link {
  color:rgba(17, 211, 17, 0.832);
  justify-content: space-evenly;
  display: block;
  flex-direction: row-reverse;
 
}

.images{
  width: 50%;
  flex-direction: row;
  padding-left: 25%;
  justify-content: center;
}

.defaultimage{
  width: 50%;
  
  padding-left: 25%;
}

.title{
  font-size: 32px;
  justify-content: center;
}
